*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(192, 192, 192);
}

.navbar{
    background-color: rgb(66, 108, 224);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .leftnav{
    display: flex;
    align-items: center;
}
.navbar .leftnav .searchbox{
    display: flex;
    align-items: center;
    margin: 4px 0 4px 0;
    width: 300px;
    background-color: white;
    border-radius: 50px;
}
/* .navbar .leftnav div img{
    height: 42px;
    background-color: white;
    border-radius: 25px 0 0 25px;
    border-color: white;
    

 } */
.navbar .leftnav div input{
   height: 40px;
   width: 75%;
   border-color: white;
   border: 0;
   font-size: 2rem;
}
.navbar .midnav ul{
    display: flex;
    list-style: none;
    align-items: center;
    
}
.navbar .midnav ul img{
    margin: 0px 28px;
    
}

.navbar .rightnav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar .rightnav ul li{
    margin-right: 10px;
   
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5% ;
}

.container .left-sidebar{
   
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    margin-right: 15px;

    

}
.imp-link{
    border-bottom: 1px solid black;
}

.imp-link a{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-bottom: 20px;
    color: black;
    width: fit-content;
 
    
}
.imp-link a img{
    width: 35px;
    margin-right: 15px;

}
.imp-link a:last-child{
    color: rgb(44, 111, 199);
}


.container .right-sidebar{
    background: white;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius:4px ;
    color: rgb(68, 67, 67);
    margin-left: 15px;


}


.shortcut{
    display: flex;
    flex-direction: column
    ;

}

.shortcut a{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-bottom: 0px;
    color: black;
    width: fit-content;
}

.shortcut P{
    margin: 25px 0;
    color: rgb(91, 91, 211);
    font-size: 1.5rem;
}


.events{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

}

.events h4{
    font-weight: 600;
    font-size: 16px;

}
.events a{
    text-decoration: none;
    color: blue;
    font-size: 16px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.leftevent{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px wheat;
}


.event p{
    font-size: 12px;

}

.event a{
    font-size: 12px;
    text-decoration: none;
    
}
.leftevent span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(135, 129, 219);
    color: white;
    font-size: 10px;
    padding: 4px 0;
}

.onlinelist{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.onlinelist .online img{
    width: 40px;
    height: 40px;
    border-radius: 50%;



}
.onlinelist .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
   
    


}

.onlinelist .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(34, 214, 58);
    position: absolute ;

}

.storygallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.story{
flex-basis: 18%;
padding-top: 32%;
position: relative;
background-image: linear-gradient(transparent,black), url(imgs/stat1.jpg);
background-size: cover;
border-radius: 10px;

}

.story img{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 3px solid rgb(22, 138, 192);

}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;


}
.main-content {
    
    width: 100%;
}

.story1{
    background-image: linear-gradient(transparent,black), url(imgs/stat1.jpg);

}
.story2{
    background-image: linear-gradient(transparent,black), url(imgs/stat2.jpg);

}

.story3{
    background-image: linear-gradient(transparent,black), url(imgs/stat3.jpg);

}

.story4{
    background-image: linear-gradient(transparent,black), url(imgs/stat4.jpg);

}

.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 40px;
}

.writepostcontainer{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 20px;
    color: rgb(185, 183, 183);

}

.postrow a img{
    height: 20px;

}

.userprofile{
    display: flex;
    align-items: center;

}

.userprofile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.userprofile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: rgb(99, 97, 97);

}

.userprofile small{
    font-size: 12px;

}
.userprofile small img{
    height:19px;
    margin-left: -10px;
    
}

.postinput{
    padding-left: 55px;
    padding-top: 20px;

}

.postinput textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
    
}

.addpostlink{
    display: flex;
    margin-top: 10px;
}
.addpostlink a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.addpostlink a img{
    width: 20px;
    margin-right: 10px;
}

.postcontainer{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 20px;
    color: gray;
    margin: 20px 0;
}

.userprofile span{
    font-size: 13px;
    color: gray;
}

.postimg{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}


.postrow{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.activityicons div img{
    width: 18px;
    margin-right: 10px;


}
.activityicons div{
display: inline-flex;
align-items: center ;
margin-right: 30px;
    

}

.postprofileicon{
    display: flex;
    align-items: center;

}

.postprofileicon img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}